
.nameAndPhoto {
  display: flex;
  align-items: center;
  gap: 100px;
}
.ingredientsBox {
  width: 130px;
}

img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.priceBox {
  display: flex;
  gap: 10px;
}

.vl {
  border-right: 3px solid white;
}

h2 {
  font-size: 20px;
}

